@media (max-width: 768px) {
  header {
    margin: 0;
    width: 100%;
    padding-right: 15px;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
  }

  header nav ul a {
    padding: 5px 10px;
  }

  main section.banner div.overlay article.main-text h2 {
    width: 100%;
    padding: 0px 20px;
    font-size: 48px;
  }

  main section.banner div.overlay article.main-text div p {
    width: 130px;
    height: 50px;
  }

  footer div.last-text p {
    left: 0;
    width: 100%;
  }

  .chat {
    display: none;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url("https://static.wixstatic.com/media/ea71bb_9727659728784e1f9607c65aea136a7f~mv2.jpg/v1/fill/w_1899,h_465,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ea71bb_9727659728784e1f9607c65aea136a7f~mv2.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: 0px 0px;
}

header {
  margin: 0px 5%;
  width: 90%;
  height: 110px;
  box-sizing: border-box;
  justify-content: space-between !important;
  position: fixed;
  background-color: var(--active-color);
  z-index: 100;
  padding-right: 30px;
}
